<!-- <form action=<%=repost%> method="post">
    <input type="text" name="theme" id="blog-theme"/>
    <label for="blog-theme">Blog Theme</label>
    <textarea rows="5" cols="60" name="blog_content" placeholder="Write Your Blog here"></textarea>
    <button type="submit">Post</button>
</form> -->
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Compose</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <head>
    <body>
        <section class="vh-100">
            <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                  <form action=<%=repost%> method="post">
                    
          
                    <h1 class="my-5 display-4 fw-bold ls-tight bottom-heading">
                        Write Your 
                        <span class="text-primary">Blog</span>
                    </h1>
          
                    <!-- Email input -->
                    <% if(method === "edit"){%>
                        <div class="form-outline mb-4">
                            <input type="text" id="blogTheme" name="theme" class="form-control form-control-lg"
                                placeholder="Theme of this Blog" value=<%=blogTheme%>></input>
                            <label class="form-label" for="blogTheme">Theme</label>
                        </div>
                
                            <!-- Password input -->
                        <div class="form-outline mb-3">
                            <textarea type="text" rows="5" cols="60" id="blogContent" name="blog_content" class="form-control form-control-lg"
                                placeholder="Write Your Blog"><%=blogContent%></textarea>
                            <label class="form-label" for="blogContent">Blog Content</label>
                        </div>
                    <%}%>
                    <% if(method === "create"){%>
                        <div class="form-outline mb-4">
                            <input type="text" id="blogTheme" name="theme" class="form-control form-control-lg"
                                placeholder="Theme of this Blog" />
                            <label class="form-label" for="blogTheme">Theme</label>
                        </div>
                
                            <!-- Password input -->
                        <div class="form-outline mb-3">
                            <textarea type="text" rows="5" cols="60" id="blogContent" name="blog_content" class="form-control form-control-lg"
                                placeholder="Write Your Blog"></textarea>
                            <label class="form-label" for="blogContent">Blog Content</label>
                        </div>
                    <%}%>
                    
          
                    
          
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Post</button>
                      
          
                  </form>
                </div>
              </div>
            </div>
            
          </section>
    </body>
</html>

